<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CRUD - Alunos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" /> 
</head>
<body>
	<h1>Lista de Alunos</h1>
    <table class="table table-striped">
		<tr>
			<th>ID</th>
		    <th>Nome</th>
		    <th>Matricula</th>
		    <th>E-mail</th>
		    <th>#</th>
		</tr>  
    	<tr th:each = "aluno : ${alunos}">
    		<td th:text="${aluno.id}"></td>
    		<td th:text="${aluno.nome}"></td>
    		<td th:text="${aluno.matricula}"></td>
    		<td th:text="${aluno.email}"></td>
    		<td><a th:href="@{/delete/{id}(id=${aluno.id})}" class="btn btn-danger">Delete</a></td>
    	</tr>
    </table>
    <a href="/add" class="btn btn-success">Novo Aluno</a>
    
</body>
</html>